html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  max-width: 1150px;
}
body nav:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body nav:first-of-type div:first-of-type {
  display: flex;
  flex-direction: column;
}
body>nav>img:nth-of-type(1) {
height: 90px;
}
body nav h2 {
  font-size: 4em;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: bold;
}
body nav:first-of-type div:last-of-type {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  height: 24px;
}
body nav img:nth-of-type(6){
  margin-right: 8px;
}
main aside {
  display: flex;
  flex-direction: row;
  margin: 2em 0 2em 0;
}
main aside div:first-of-type h1 {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main aside p {
  font-size: 1em;
  color: gray;
 font-weight: lighter;
 
}
main aside div:last-of-type {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
main aside div:last-of-type p, main aside div:last-of-type img {
  margin-top: auto;
}
main aside img {
    height: 15px;
}
article {
  display: flex;
  flex-direction: column;
}
main section:first-of-type {
  display: flex;
  flex-direction: column;
  margin: 2.5em 0 2.5em 0;
  
}
main section:first-of-type p {
  font-size: x-large;
  color: grey;
  text-indent: 2em;
}
main section:last-of-type {
  display: flex;
  flex-direction: column;
}
article section:last-of-type div {
  display: flex;
  flex-direction: row;
  /* position: absolute; */
}
ul {
  flex-grow: 1;
  font-size: 1.4em;
  color: rgb(62, 24, 24);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
footer {
  display: flex;
  flex-direction: column;
}
footer div:first-of-type {
  display: flex;
  flex-direction: row;
}
footer div:first-of-type section {
  display: flex;
  flex-direction: column;
}
footer div:last-of-type {
  display: flex;
  flex-direction: row;
}
